body{
    min-width: 980px;
    max-width: 1100px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    border: solid;
}
button{
    cursor: pointer;
}
.active {
    background-color: #3b3a3a !important;
    color: white !important;
}
.button-border{
    border: none;
    background: none;
}
.button-30{
    width: 30%;
    height: auto;
}
.button-25{
    width: 25%;
    height: 50px;
}
.button-40{
    width: 40%;
    height: auto;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
table{
    margin-left: 7.5%;
    width: 85%;
}
.thead{
    background-color: #3b3a3a;
    color: white;
}
.tbody td{
    height: 40px;
    font-size: 15px;
}
.tbody .text_position{
    padding-left: 30px;
    text-align: left;
}
.margin-10{
    margin-left: 10%;
}
.margin-5{
    margin-left: 5%;
}
.margin-2{
    margin-left: 2%;
}
.font-bold{
    font-weight: bold;
}
.font-15{
    font-size: 15px;
}
.font-20{
    font-size: 20px;
}
.font-25{
    font-size: 25px;
}
.font-30{
    font-size: 30px;
}
.font-lighter{
    font-weight: lighter;
}
.font-color-white{
    text-align: center;
    color: white;
}
.font-color-949494{
    color: #949494;
}
.width-60{
    width: 60%;
}
.width-40{
    width: 40%;
}
.width-27{
    width: 27%;
}
.width-30{
    width: 30%;
}
.width-80{
    padding-left: 10% ;
    width: 80%;
}
.back-cccc{
    background-color: #cccccc;
}
.back-7f7f7f {
    background-color: #7f7f7f;
}
.display-flex{
    display: flex;
    align-items: center;
    justify-content: center;
}
.display-none{
    display: none;
}
.display-space-between{
    justify-content: space-between; display: flex; width: 80%;
}
.margin-top-20px{
    margin-top: -20px;
}
.margin-20{
    margin-left: 20%;
}
.margin-25{
    margin-left: 25%;
}
.margin-7{
    margin-left: 7%;
}
.text-align-left{
    text-align: left;
    padding-left: 50px;
}
.margin-30{
margin-left: 30%; }
a {
    text-decoration: none;
    color: black;
  }
.margin-40{
    margin-left: 40%; }
.minus{
    margin-top: -30px;
}
.plus{
    margin-top: -30px;
}
::placeholder {
    color: white;
    opacity: 1; /* Firefox */
  }  
::-ms-input-placeholder { /* Edge 12-18 */
    color:white;
  }
.root-container{
    display: block;
}
.selected_product_container {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.selected_product{
    text-align: center;
    border-style: solid;
    width: 85%;
    height: auto;
    background-color: #cccccc;
}
.selected_product p{
    margin: 10px;
    color: white;
}
.description_selectedproduct{
    margin-left: auto;
    display: block;
    text-align: center;
    border-style: solid;
    width: 95%;
    background-color: white;
    margin-right: auto;
    margin-bottom: 25px;
}
.description_selectedproduct p{
    color:#948f8f;
}
.selected_accommodation_container {
    display: block;
    
}
.selected_accommodation{
    margin-top: 40px;
    padding: 5px;
    text-align: center;
    border-style: solid;
    width: 86%;
    height: auto;
    background-color: #cccccc;
    color: white;
    font-size: 20px;
}
.selected_accommodation_button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.selected_accommodation_radio {
    display: flex;
    justify-content: center;
    align-items: center;
}
.selected_accommodation_radio1 {
    display: none;
    justify-content: center;
    align-items: center;
}
.selected_accommodation_radio1 div{
    margin-top: 30px;
    width: 75%;
    height: auto;
    background-color: #cccccc;
    font-size: 25px;
    text-align: left;
}
.selected_accommodation_radio div{
    margin-top: 30px;
    width: 75%;
    height: auto;
    background-color: #cccccc;
    font-size: 25px;
    text-align: left;
}
.selected_accommodation_button p{
    margin-top: 60px;
    position: absolute;
    margin-right: -52%;
    color: white;
}
.input_roomdetails{
    display: block;
}
.input_roomdetails2{
    display: none;
}

.input_roomdetails .selected_accommodation_button{
    margin-top: 20px;
}
.over12{
    margin-top: 20px;
    margin-left: 13%;
    width: 45%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.display_over12{
    margin-top: 20px;
    margin-left: 13%;
    width: 45%;
    justify-content: space-between;
    align-items: center;
    display: none;
    
}

.over12 .over12_price{
    font-weight: lighter;
    margin-left: 10px;
    font-size: 25px;
}
.display_over12 .over12_price{
    font-weight: lighter;
    margin-left: 10px;
    font-size: 25px;
    
}
.display_over12  p{
    color: #949494;
    font-weight: bold;
    font-size: 35px;
    margin: auto;
}
.over12 p{
    color: #949494;
    font-weight: bold;
    font-size: 35px;
    margin: auto;
}
.minius_button{
    border: none;
    margin-left: 10%;
    background: none;
    color: #949494;
    font-size: 90px;
}
.over12 .minus{
    position: absolute;
    margin-top: -30px;
    font-size: 20px;
    font-weight: 500;
}
.display_over12 .minus{
    position: absolute;
    margin-top: -30px;
    font-size: 20px;
    font-weight: 500;
}

.plus_button{
    border: none;
    margin-left: 2%;
    background: none;
    color: #949494;
    font-size: 90px;
}
.over12 .plus{
    position: absolute;
    margin-top: -30px;
    font-size: 20px;
    font-weight: 500;
}
.over12_number{
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 2%;
    border: solid;
    width: 90px;
    height: 70px;
    background-color: #cccccc;
}
.over12_number span{
    color: white;
    margin-left: 30px;
    font-size: 60px;
}
.selected_accommodation_radio p{
    margin-left: 20px;
}
.display_over12 .plus{
    position: absolute;
    margin-top: -30px;
    font-size: 20px;
    font-weight: 500;
}
.display_over12 .over12_number{
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 2%;
    border: solid;
    width: 90px;
    height: 70px;
    background-color: #cccccc;
}
.display_over12  span{
    color: white;
    margin-left: 30px;
    font-size: 60px;
}
.select_age{
    width: 180px;
    height: 70px;
    font-size: 40px;
    background-color: #cccccc;
    color: white;
    text-align: center;
}
.select_age_container{
    display: block;
    display: none;
}
.age_modal{
    margin-top: 20px;
    margin-left: 13%;
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.select_age_container p{
    color: #949494;
    font-weight: bold;
    font-size: 35px;
    margin: auto;
}
.select_age_container label{
    color: #cccccc;
    font-size: 25px;
}
.room_type{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    margin-left: 10%;
    margin-top: 70px;

}
.room_type p{
    font-size: 35px;
    font-weight: bold;
    color: #949494;
    margin: 0px;
    }
.room_type .selected_room{
    margin-left: 20%;
}
.select_roomtype{
    width: 70%;
    height: 70px;
    font-size: 40px;
    background-color: #cccccc;
    color: white;
    text-align: center;
}
.delete{
    color: black;
    font-weight: bold;
    background: none;
    border: none;
    margin-left: 10%;
    font-size: 30px;
    margin-top: 50px;
    text-decoration: underline;
}
.insert{
    color: black;
    font-weight: bolder;
    background: none;
    border: solid;
    font-size: 30px;
    margin-top: 50px;
    margin-left: 60%;
}
.select_othertype{
    width: 90%;
    margin-left: 10%;
}
.back_calendar{
    width: 45%;
    padding: 20px;
    color: white;
    font-weight: bolder;
    background: #949494;
    align-items: center;
    border: solid;
    border-radius: 10px;
    font-size: 35px;
    margin-top: 100px;
}
.choose_shinkansen{
    margin-left: 5%;
    width: 45%;
    padding: 20px;
    color: white;
    font-weight: bolder;
    background: #3b3a3a;
    align-items: center;
    border: solid;
    border-radius: 10px;
    font-size: 35px;
    margin-top: 100px;
}
.final_button{
    margin-left: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.enter_people{
    width: 25%;
    padding-top: 25px;
    padding-bottom: 25px;
    color: white;
    font-weight: bolder;
    background: #cccccc;
    align-items: center;
    border: solid;
    font-size: 20px;
    margin-top: 100px;
}
.enter_people:hover {
    background: black;
}
.select_train_container{
    text-align: center;
    font-weight: bold;
    color: #696666;
    font-size: 25px;
    margin-top: 10px;
}
.select_train_station{
    display: flex;
    justify-content: center;
    align-items: center;
}
.select_train_station select{
    margin-left: 5%;
    width: 25%;
    font-size: 30px;
    background-color: #cccccc;
    color: white;
    text-align: center;
}
.select_train_station img{
    margin-left: 3%;
    padding-right: 3%;
    
}
.station option{
    font-size: 30px;
}
.round{
    font-weight: lighter;
    font-size: 20px ;
    margin-top: -30px;
}
.departure{
    margin-left: 4%;
}
.arrival{
    margin-left: 5%;
}
.select_otherroomtype{
    text-align: center;
    font-weight: bold;
    color: #696666;
    font-size: 25px;
}
.select_otherroomtype .round{
    font-weight: bold;
}
.premium{
    background-color: #3b3a3a;
    color: white;
    width: 5%;
}
.first_choice{
    background-color: rgb(26, 24, 24);
    color:white;
}
.選択する{
    background-color: #cccccc;
}
.rental_wear{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: #696666;
    font-size: 20px;
}
.child{    
    margin-top: -30px;
}
.under_arrow{
    margin-left: -5%; 
    margin-top: 5%;
}
.use{
    display: flex;
    justify-content: center;
    align-items: center;
}
.over12_number p{
    margin-top: -50px;
}
.not_use{
    width: 30px;
    height: 30px;
    border: solid;
    background-color: #949494;
}
.use_date{
    margin-left: 25%;
    margin-top: 20px;
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.underline{
    width: 50%; border-bottom: 1px solid black;
}
.selected_accommodation_radio .margin-10{
    width: 50%;
}
.minus_width{
    width: 60px;
}
.selected_accommodation_left{
    margin-top: 40px;
    padding: 5px;
    text-align: lect;
    border-style: solid;
    width: 86%;
    height: auto;
    background-color: #cccccc;
    color: white;
    font-size: 20px;
}
.input-width-55{
    width: 55%; 
    text-align: left;
}
.check_{
    margin-top: -30px;
    margin-left: 35%;
    margin-right: auto;
}
.display-left{
    justify-content: left; margin-left: 12%;
}

.margin-31{
    margin-left: 31%; }
.margin-31 p{
    text-decoration: underline;
}
.user_information{
    width: 35%;
    padding-top: 25px;
    padding-bottom: 25px;
    color: white;
    font-weight: bolder;
    background: #cccccc;
    align-items: center;
    border: solid;
    font-size: 20px;
    margin-top: 100px;
}
.enter_people:hover, .user_information:hover{
    background: black;
}

.display-left{
    justify-content: left; margin-left: 12%;
}
.display-left-2{
    justify-content: left; margin-left: 2%;
}